.footer {
  background: #fff;
  padding-bottom: 50px;
  padding-top: 80px;
  text-align: center
}



.footer_menu {
  margin-bottom: 20px;
}
.footer_menu ul {
  list-style: none;
  text-align: center;
}
.footer_menu ul li {
  display: inline-block;
}
.footer_menu ul li a {
  color: #000;
  padding: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer_menu ul li a:hover {
  color: #000000;
}
.footer_profile {
  margin-bottom: 40px;
  text-align: center;
}
.footer_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer_profile ul li {
  display: inline-block;
}
@media only screen and (max-width:480px) {
  .footer_profile ul li {
      margin: 2px;
  }
}
.footer_profile ul li a img {
  width: 60px;
}
.footer_profile ul li a {

  width: 40px;
  height: 70px;
  display: block;
  text-align: center;
  margin-right: 5px;
  border-radius: 50%;
  line-height: 40px;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  color: #eae7db;
}

.joindre {
  border-radius: 30px;
  background-color: #DFEF57;
  color: black;
  text-align: center;
  padding: 10px 35px;
  margin: 10px;
}
.footer{
  margin-right: 100px;
  margin-left: 100px;
}

.footer .footer_menu {
  text-align: center;
  margin-bottom: 50px; /* Adjust the value as needed */
}
.footer .row {
  margin-top: 50px; /* Adjust the value as needed */
}